<p>
  Author:
  {{quote.author}}</p>
<p>Name:
  {{quote.name}}</p>
<p> {{quote.completeDate|dateCount}} days has passed since this quote was created</p>
<div class="row">
  <div class="col-md-6">
    <a href="" (click)="voteUp()">
      <i class="fas fa-thumbs-up "></i>
    </a> ({{likes}})
  </div>
  <div class="col-md-6">
    <a href="" (click)="voteDown()">
      <i class="fas fa-thumbs-down "></i>
    </a> ({{disLikes}})
  </div>
</div>

<button class="btn btn-outline-secondary ml-5" (click)='quoteDelete(true)'> Delete Quote </button>
