<h1 class="text-center"> <strong> Noma QUOTES </strong> </h1>
<hr/>
<div class="container jumbotron bgm">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container">
        <div class="row" *ngFor='let quote of quotes; let i = index'>
          <div class="container">
            <h4 id="{{i}}" appHighlight>{{quote.description}} </h4>
            <button class="ml-5 btn-outline-primary "   (click)='toogleDetails(i)'> More Details</button>
          </div>
          <div class="container">
            <div class="row" *ngIf="quote.showDescription">
              <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'>
              </app-quote-details>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center"> <em> &copy;2021 noma quotes </em></div>
</div>
